.About{
    text-align: center;
    margin: 40px;
    font-size: 12px;
}
.About a{
    color: blue;
}
.About a:link{
    text-decoration: none;
    
}
.About a:hover{
    background-color: #b3f0ff;
    font-family: normal;
}