.wrapTop{
    background-color: #caebf2; //sky
    width: 100%;
    position: fixed;
}
.TopBar{
    float: right; 
}
.button {
    background-color: #ff3b3f;
    border: none;
    color: #efefef;
    padding: 10px 10px;
    margin: 5px;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
    border-radius: 30px;
}
.button:hover{
    cursor: pointer;
    text-decoration: none;
}
.button:focus{
    outline: none;
}