@import './components/TopBar.less';
@import './components/TopSide.less';
@import './components/About.less';
@import './components/Contact.less';
@import './components/PhotosDear.less';
@import './components/Resume.less';


.App {
  position: relative;
  font-family: normal, sans-serif;
  &-title {
    justify-content: center;
  }

  &-subtitle {
    font-weight: 100;
  }

}
.clear{
    clear: both;
}

//  #caebf2 sky
//  #ff3b3f  watermelon
//  #a9a9a9  carbon
//  #efefef neutral